<section class="features">
    <h2>قابلیت های ویژه بانواز</h2>
    <div class="features__wrapper">
      <div class="features__card">
        <img src="assets/images/cover1.png" alt="cover" />
        <p>
          باز و بسته شدن درب ها و پنجره ها، تشخیص حضور انسان و کلی قابلیت
          دیگه در سنسور های بانواز!
        </p>
      </div>
      <div class="features__card">
        <img src="assets/images/cover2.png" alt="cover" />
        <p>
          میتونی مدت زمان روشن بودن دستگاه های الکتریکی رو کنترل کنی. یا حتی
          برای روشن بودن اونها از بانواز کمک بگیری.
        </p>
      </div>
      <div class="features__card">
        <img src="assets/images/cover3.png" alt="cover" />
        <p>
          با محاسبه حرارت اطراف خاک گیاهان میشه فهمید کی باید دوباره به گیاه
          ها آب بدی!
        </p>
      </div>
      <div class="features__card">
        <img src="assets/images/cover4.png" alt="cover" />
        <p>
          سنسورهایی که برای حیوان های خانگی شما نصب میشن میتونن با هوش
          مصنوعی گرسنه بودن اون رو تشخیص بدن!
        </p>
      </div>
    </div>
  </section>