<footer class="footer">
  <div class="footer__wrapper">
    <div class="li__wrapper">
      <ul>
        <li>بانواز</li>
        <li>خانه</li>
        <li>فروشگاه</li>
        <li>ورود به داشبورد</li>
      </ul>
    </div>
    <div class="li__wrapper">
      <ul>
        <li>فروشگاه</li>
        <li>دستگاه مرکزی</li>
        <li>سنسورهای داخلی</li>
        <li>سنسورهای خارجی</li>
      </ul>
    </div>
    <div class="li__wrapper">
      <ul>
        <li>بانواز</li>
        <li>درباره بانواز</li>
        <li>وبلاگ</li>
        <li>موقعیت های شغلی</li>
        <li>تماس با ما</li>
      </ul>
    </div>
    <div class="li__wrapper">
      <ul>
        <li>دانلود اپلیکیشن</li>
      </ul>
      <img src="assets/images/googleplay.png" alt="google-play" /><br />
      <img src="assets/images/appstore.png" alt="app-store" />
    </div>
  </div>
  <div class="footer__lastline">
    <div class="footer__icons">
      <img src="assets/images/instagram.png" alt="instagram" />
      <img src="assets/images/twitter.png" alt="twitter" />
      <img src="assets/images/ball.png" alt="ball" />
      <img src="assets/images/youtube.png" alt="youtube" />
    </div>
    <div>
      <p>تمامی حقوق متعلق به بانواز میباشد.</p>
    </div>
  </div>
</footer>
