<header class="header">
  <div class="header__nav">
    <img src="assets/images/Logo.png" alt="logo" />
    <ul class="navItems">
      <li><a class="navItem" href="#">خانه</a></li>
      <li><a class="navItem" href="#">فروشگاه</a></li>
      <li><a class="navItem" href="#">درباره ما</a></li>
    </ul>
  </div>
  <div class="header__detials">
    <button class="login-dashboard">ورود به داشبورد</button>
    <button class="header__brand">فروشگاه بانواز</button>
    <button class="download-app">دانلود اپلیکیشن</button>
    <img src="assets/images/menu.png" alt="menu" />
  </div>
</header>
