<section class="intro">
    <div class="intro__desc">
      <h1>خیالت از خونه راحت!</h1>
      <p>
        بانواز واژه ای کردی به معنی باخبرساختن با <br />صدای بلند است. درست
        مثل بانواز <br />با سنسور های باناز از هیچ اتفاقی بی خبر نیستی!
        <br />چه خونه باشی چه نه.
      </p>
      <button class="intro__btn">فروشگاه بانواز</button>
    </div>
    <div class="intro__images">
      <div class="intro__images--apartment">
        <img
          class="intro--img"
          src="assets/images/apartment.png"
          alt="apartment"
        />
      </div>
      <img
        class="intro__images--phone"
        src="assets/images/phone.png"
        alt="phone"
      />
    </div>
  </section>