<section class="services">
  <div class="services__icons">
    <div class="services__icon">
      <img src="./assets/images/s1.png" alt="icon" />
      <p>حیوانات</p>
    </div>
    <div class="services__icon">
      <img src="./assets/images/s2.png" alt="icon" />
      <p>گرمایشی</p>
    </div>
    <div class="services__icon">
      <img src="./assets/images/s3.png" alt="icon" />
      <p>روشنایی</p>
    </div>
    <div class="services__icon">
      <img src="./assets/images/s4.png" alt="icon" />
      <p>وسایل برقی</p>
    </div>
    <div class="services__icon">
      <img src="./assets/images/s5.png" alt="icon" />
      <p>گل و گیاه</p>
    </div>
    <div class="services__icon">
      <img src="./assets/images/s6.png" alt="icon" />
      <p>درب و پنجره</p>
    </div>
  </div>
  <div class="services__descriptions">
    <h2>مدیریت با دستگاه مرکزی</h2>
    <p>
      بانواز برای مدیریت و کنترل سنسورهای خودش از یک دستگاه مرکزی<br />
      استفاده میکنه که همه چیز تحت کنترل همین دستگاه مرکزیه. <br />دستگاه به کمک
      اینترنت به گوشی شما متصل میشه و شما میتونین <br />همه چیز رو تحت کنترل
      خودتون بگیرین.
    </p>
    <img src="assets/images/cooler.png" alt="cooler" />
  </div>
</section>
